:root {
    --yellow: #f5b041;
    --black: #444;
    --light-color: #777;
    --bg-color: #e6e6e6;
    --border: .1rem solid rgba(0, 0, 0, .2);
    --box-shadow: .4rem .4rem 1rem #ccc,
        -.4rem -.4rem 1rem #fff;
    --box-shadow-inset: .4rem .4rem 1rem #ccc inset,
        -.4rem -.4rem 1rem #fff inset;
}
.radio-div{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    color: darkcyan;
}
.radio-div:hover{
    box-shadow: var(--box-shadow-inset);
    cursor:pointer
} 
.radio-btn:hover {
    
    cursor: pointer;
}