:root {
    
    --border: .1rem solid rgba(0, 0, 0, .2);
    --box-shadow: .4rem .4rem 1rem #ccc,
        -.4rem -.4rem 1rem #fff;
    --box-shadow-inset: .4rem .4rem 1rem #ccc inset,
        -.4rem -.4rem 1rem #fff inset;
}

.div-shadow {
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color:rgb(22, 77, 77);
}

.div-shadow:hover {
    box-shadow: .2rem .2rem 1rem #ccc,
        -.2rem -.2rem 1rem #fff;
        
}